<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose Store</title>
</head>
<body>
    <nav>
        <a href="/store/new">Add Product to Store List</a>
   </nav>
   <h1>List of Store Products</h1>

   <ul>
        <% myProds.forEach(p => { %>
            <li>
                <a href="/store/<%= p._id %>"><%=p.name; %></a>
                <form action="/store/<%= p._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete">
                </form>
                <a href="/store/<%= p._id %>/edit">Edit Product Info</a>
            </li>
        <% }); %>
   </ul>
</body>
</html>